# Python
backend/venv/
backend/__pycache__/
backend/*.pyc

# Environment variables
backend/.env

# Database
backend/*.db

# React
frontend/node_modules/

# Vite
frontend/dist/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/